.main {
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(27, 27, 27, 0.1),
      rgba(27, 27, 27, 0.1)
    ),
    url("/login.webp");
  background-position: top;
}

.main div {
  margin: 0 auto;
  max-width: 40rem;
}

.form {
  margin-top: 12.8rem;
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  backdrop-filter: blur(1rem);
}

.form p {
  color: #1b1b1b;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 1.6rem;
}
.form input {
  font-family: inherit;
  border: none;
  font-size: 2.4rem;
  padding: 0.2rem;
  padding-left: 0.6rem;
  box-shadow: 0px 5px 30px -10px rgba(27, 27, 27, 0.15);
}
.form button {
  margin-top: 1.8rem;
  font-size: 2.4rem;
  background-color: #3d3b3a;
  border: none;
  color: rgb(247, 247, 250);
  padding: 1.2rem 2.4rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.5s;
}

.form button:hover {
  background-color: #1b1b1b;
}

.backhome:link,
.backhome:visited {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.8rem;
  color: #3d3b3a;
  transition: all 0.5s;
  border: 1px solid #3d3b3a;
}

.backhome:hover {
  color: #1b1b1b;
  border: 1px solid #3d3b3a00;
}
